body {
    font-family: sans-serif;
    margin: 20;
    padding: 20;
    margin-bottom: 50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: pink;
    gap: 10px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: purple;
    color: #fff;
    gap: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 4em;
  }
  
  header img {
    width: 200px;
    height: auto;
    margin-right: 10px;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(75, 8, 75);
  }
  
  form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  #btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .middle {
    background-color: #333;
    background-color: purple;
    color: #fff;
  }
  
  .reset {
    background-color: palevioletred;
    color: rgba(155, 11, 11, 0.911);
    margin: 20px;
    
  }
  
  #extraFields {
    margin-top: 15px;
  }
  
  footer {
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
  /* .tictacto, .guessing{
    border: purple solid 5px;
    border-radius: 10%;
    font-size: 50px;
    font-weight: 800;
    padding: 5px;
    display: none;
    align-items: center; 
    text-align: center;
    display: flex;
    flex-direction: column;
  } */
  a{
    border: purple solid 5px;
    color: blue;
      border-radius: 10%;
      font-size: 50px;
      font-weight: 800;
      padding: 50px;
      display: none;
      align-items: center; 
      text-align: center;
      display: flex;
      text-decoration: none;
      /* flex-direction:; */
  }
  .link{
    display: flex;
    gap: 20px;
    display: none;

  }
  .eror{
    display: none;
    position: fixed;
    font-weight: 900;
    border: red solid 5px;
    padding: 10px;
  }
 