*{
  margin: 20px;
  /* padding: 20px; */
      
}

html, body{
    background-color: orange;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ixigul{
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ixigul .btn{
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    background-color: white;
    width:calc(33% - 6px) ;
    height:calc(33% - 6px);
    margin: 3px;
}
.tictacto{
    border: purple solid 5px;
    border-radius: 10%;
    font-size: 50px;
    font-weight: 800;
    padding: 5px;
    display: none;
    display: flex;
    margin-top: 100px;
    align-items: center;
  }

  /* .guessing{ */
    /* border: purple solid 5px;
    border-radius: 10%;
    font-size: 50px;
    font-weight: 800;
    padding: 5px;
    display: none;
    display: flex;
    margin-top: 300px;
    align-items: center; */
  /* } */
  a{
    border: purple solid 5px;
    color: blue;
      border-radius: 10%;
      font-size: 50px;
      font-weight: 800;
      padding: 50px;
      display: none;
      align-items: center; 
      text-align: center;
      display: flex;
      text-decoration: none;
      /* flex-direction:; */
  }
  .link{
    display: flex;
    gap: 20px;
  }