*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: orange;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ixigul{
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ixigul .btn{
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    background-color: white;
    width:calc(33% - 6px) ;
    height:calc(33% - 6px);
    margin: 3px;
}