body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  color: #4caf50;
  font-weight: bolder;
}

#game-container {
  margin: 20px;
  padding: 20px;
  border: 5px solid #ccc;
}

#current-letter {
  font-size: 24px;
  margin-bottom: 10px;
  align-items: center;
}

#input-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100px;
  padding: 5px;
  border: 5px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#timer {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#score {
  font-size: 18px;
  margin-bottom: 10px;
}
/* ... (קוד CSS קיים) */

#feedback {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

#feedback.correct {
  color: green;
}

#feedback.wrong {
  color: red;
}
a {
  border: purple solid 5px;
  color: blue;
  border-radius: 10%;
  font-size: 50px;
  font-weight: 800;
  padding: 50px;
  display: none;
  align-items: center;
  text-align: center;
  display: flex;
  text-decoration: none;
  /* flex-direction:; */
}
.link {
  display: flex;
  gap: 20px;
}
h1{
    font-size: 100px;
    /* font-family: 'Courier New', Courier, monospace; */
    color: #07660ac0;
    font-weight: 900;
}
